.type-icon {
	width: 50px;
	height: 50px;
	vertical-align: middle;
}


.play-button {
	width: 40px;
	height: 40px;
	vertical-align: middle;
	padding-left: 10px;
}

[group="media"] {
	color: black;
	text-decoration: none;
}

#close-player-button {
	width: 20px;
	height: 20px;
	vertical-align: top;
}

#mp3-audio {
	width: 600px;
}

#contents-div {
	position: relative;
	left: 39%;
	width: 800px;
}

#nav-cluster {
	padding-top: 10px;
	left: 40%;
	position: relative;
}

#music-player-div {
	padding-bottom: 50px;
	text-align: center;
}

.anchor-element-div {
	padding-bottom: 20px
}