.type-icon {
	width: 40px;
	height: 40px;
	vertical-align: middle;
	padding-right: 10px;
	padding-right: 20px
}


.media-anchor {
	text-decoration: none;
	color: black;
}

#close-music-player-button {
	width: 20px;
	height: 20px;
	vertical-align: top;
}

#close-video-player-button {
	width: 50px;
	height: 50px;
	vertical-align: top;
}

#mp3-audio {
	width: 600px;
}

#contents-div {
	position: relative;
	left: 35%;
	width: 800px;
}

#nav-cluster {
	padding-top: 10px;
	left: 38%;
	position: relative;
}

#music-player-div {
	padding-bottom: 50px;
	text-align: center;
}

#video-player-div {
	text-align: center;
	padding-bottom: 100px;
}

#mp4-video {
	width: 50%;
	height: 20%;
}

.anchor-element-div {
	padding-bottom: 20px
}

#back-button {
	width: 40px;
	height: 40px;
}

#video-name {
	font-size: 30px;
}


.play-button {
	width: 30px;
	height: 30px;
	vertical-align: middle;
	padding-left: 20px;
}

.content-anchor {
	font-size: 18px;
}