<!DOCTYPE html>

<html>

	<head>
		<script src="../static/index.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<link href="../static/index.css" rel="stylesheet">

		<script>

			$(document).ready(function () {

				index.on_initial();
				//index.handle_anchor_click();
				index.handle_back_button_click();
				index.handle_next_page_button_click();
				index.handle_previous_page_button_click();
				index.handle_contents_div_click();
				index.handle_music_player_div_click();
				index.handle_video_player_div_click();
			})

		</script>
	</head>


	<body>

		<div id="main-div">
			<div id="back-button-div">
				<input role="button" type="image" src="../static/icons/back.png" id="back-button">
			</div>

			<div id="search-div">
				<input id="search-field">
			</div>

			<div id="path-div">
				<p id="path"></p>
			</div>

			<div id="music-player-div" hidden>
				<p id="audio-name"></p>
				<audio id="mp3-audio" controls>
					<source src="" type="audio/mpeg">
				</audio>
				<input role="button" src="https://static.thenounproject.com/png/1600389-200.png" id="close-music-player-button" type="image" class="close-button">
			</div>
			
			<div id="video-player-div" hidden>
				<p id="video-name"></p>
				<video id="mp4-video" controls>
					<source src="" type="video/mp4">
				</video>
				<input role="button" src="https://static.thenounproject.com/png/1600389-200.png" id="close-video-player-button" type="image" class="close-button">
			</div>
			
	
			<div id="contents-div">
	
			</div>
			<div id="nav-cluster">
				<button id="previous-page-button"><--</button>
				<button id="next-page-button">--></button>
				<div id="page-cluster">
					<p id="page-num"></p>
				</div>	
	
			</div>
		
		</div>
		


	</body>

</html>